body {
	font-family: 'Open Sans', sans-serif, "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #888;
	line-height: 20px;
	background: #dadada;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  color: #444;
}
header{
  width: 100%;
  height: auto;
  float: left;
}

a{
  color:#7c2d85;
}


.box-shadow{
box-shadow:0px 0px 2px #444;
background:white;
}



/*navbar*/
.barra-navegacion{
  height: 160px;
}

.navbar-brand {
  float: left;
  height: 160px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  position: relative;
}

.navbar-header {
	float: left;
	width: 100%;
}

.navbar-brand > img {
  display: block;
  float: left;
  height: 100%;
}
.navbar-nav {
	margin: 0;
}

.navbar.navbar-inverse {
	width: 100%;
	float: left;
	background: #c4233b;
	border: none;
	border-radius: 0 0 5px 5px;
}

ul.nav.navbar-nav{
  width: 100%;
  text-align: center;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
	font-weight: 600;
	font-size: 14px;
	text-shadow: 0px 1px 2px rgba(0,0,0,.5);
	display: block;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover  {
	color: #fff;
	background-color: #ad2550;
	box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a {
	background:#7c2d85;
}

/***********Social media Icons***********/
.socialmedia {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	float: none;
}
.btn-group.socialmedia .btn{
	padding: 0
}
a.social-icon {
	display: inline-block;
	height: 50px;
}
.btn-group{
	display: table;
}
a.social-icon img {
	width: 50px;
}

.twitter{
   background: rgba(0, 172, 237,1);
	 border: 1px solid rgba(0, 172, 237,1);
}
.instagram {
	background: rgba(82,128,164,1);
	border: 1px solid rgba(82,128,164,1);
}
.youtube{
  background: rgba(255,0,0,1);
	border: 1px solid rgba(255,0,0,1);
}
.facebook{
  background: rgba(46,77,167,1);
	border: 1px solid rgba(46,77,167,1);
}

.twitter:hover{
   background: rgba(0, 172, 237,0.75);
	 border: 1px solid rgba(0, 172, 237,0.75);
}
.instagram:hover{
  background:rgba(82,128,164,0.9);
	border: 1px solid rgba(82,128,164,0.9)
}
.youtube:hover{
  background: rgba(255,0,0,.75);
	border: 1px solid rgba(255,0,0,.75);
}
.facebook:hover{
  background: rgb(46,77,167,0.9);
	border: 1px solid rgba(46,77,167,0.9);
}


/*********Conteido*********/
.contenido{
  border-radius: 5px 5px 0 0;
}

article{
	margin: 1em auto
}
.articulo, .buscar {
	margin: 1em auto;
}



.articulo img{
	margin: auto;
}

.input-group{
			margin-right: 15px;

	}

	.comments .input-group-addon{
	font-size: 9vmin;
	border: none;
	background: white;
	}

	textarea.form-control {
		height: auto;
		min-height: 10vmin;
		border-radius: 5px !important;
	}


/******* Panel Buscar**************/
.buscar .list-group{
	margin-top: 1em;
	margin-bottom: 1em;
}

.buscar .list-group{
text-transform: capitalize;
}


/**********Footer***************/
footer {
	background: #c4233b;
	color: white;
	text-align: center;
	padding: 15px;
	float: left;
	width: 100%;
}

@media(min-width:1024px){
	.socialmedia {
	margin-top: 80px;
	}

	.navbar-inverse .navbar-nav > li > a {
		display: inline-block;
	}

}
@media(min-width:768px){
	.row.comments{
		margin-right: 0;
		margin-top: 0;
	}

	.input-group {
		margin-right: 0;
	}

	.socialmedia {
	margin-top: 80px;
	}
}
